.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.sidebar {
    display:grid;
    grid-column-start: 1 / 2;
    background-color: #6495ED;
}

.header {
    background-color:white;
}

.main {
    background-color: #98AFC7;
}